<link href="/css/stylesheadernav.css" rel="stylesheet">

    <nav class="desktop-nav">
      <div class="container">
         <div class="logo-content-l">
          <a href="/" class="logo-letras-content">
            <div class="logo-letras-content">
              <img class="logoLetras" src="/img/logoLetras.png" alt="">
            </div>
          </a>
        </div>
        
        <div class="menu">
          <%  if (!locals.isLogged) { %>
            <a href="/users/login" id="a-nav-login">Ingresar</a>
            <a href="/users/register" id="a-nav-register" >Registrarse</a>
          <% } %>
          <a href="/products" id="a-nav-catalogo">Catálogo</a>
          
          <form action="/products/search" class="search-box" method="POST">
            <input type="text" placeholder="Buscar..." name="title" class="placeholder-search">
            <button type="submit" class="go-icon"><i class="fas fa-search"></i></button>
          </form>
          <a href="#" class="search-button">Buscar</a>
          <%  if (locals.isLogged) { %>
          <a href="/products/cart" >Carrito </a><span class="cart-counter" name="cart-item-counter" id="cart-item-counter"></span>
          <% } %>
        </div>
        
        <%  if (locals.isLogged) { %>
          <a href="/users/login"><img class="profileImage" src="/img/avatars/<%= locals.userLogged.avatar || 'logoSimple.png' %>" width="100%" height="100%"></a>
        <% } %>

        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
    <nav class="mobile-nav">
      <%  if (locals.isLogged) { %>
      <div class="profileImageMobile">
        <a href="/users/login"><img  src="/img/avatars/<%= locals.userLogged.avatar || 'default-avatar.png' %>"  width="100%" height="100%"></a>
      </div>
      <% } %>
      <%  if (!locals.isLogged) { %>
      <a class="mobile-nav-buttons" href="/users/login" id="myLinks">Ingresar</a>
      <a class="mobile-nav-buttons" href="/users/register" id="myLinks">Registrarse</a>
      <% } %>
      <a class="mobile-nav-buttons" href="/products">Catálogo</a>
      <a class="mobile-nav-buttons-search" href="#">Buscar</a>
      <!--<form action="/products/search" class="search-box-mobile" method="POST">
        <input type="text" placeholder="Buscar..." name="title" class="placeholder-search-mobile">
        <button type="submit" class="go-icon"><i class="fas fa-search"></i></button>
      </form>-->
      <%  if (locals.isLogged) { %>
        <a class="mobile-nav-buttons" href="/products/cart">Carrito</a>
      <% } %>
    </nav>

    <script src="/js/main.js"></script>
    <script src="/js/addToCart.js"></script>