<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylescart.css">
    <title>Carrito</title>
</head>
<body>
    <!-- Navbar -->
    <%-include('./partials/headerNavbar')%>
    <div class="title">
        <h3 class="h3-cart">Mi Carrito</h1>
    </div>
    <section class="cart-container">
        <section class="main-container-detail-cart">
        
            <div class="title-table" style="display: flex;">
                <li type="none">Producto</li>
                <li type="none">Nombre</li>
                <li type="none">Precio y cantidad</li>
            </div>
        
        </section>
        <div class="total-amount">
    
    
        </div>
    </section>
    


     <!-- Footer -->
    <%- include('./partials/footer') %>
    <script src="/js/cart.js"></script>
</body>
</html>