<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por tu Compra</title>
    <link href="/css/stylegracias.css" rel="stylesheet">
</head>

<body>

    <div class="container123">
    <div class="Error404img">
    </div>
    <img  src="/img/logoCompletoGracias.png" width="40%" height="40%">

    <div class="button-container">

<form class="button-form" action="/" method="get">
    <button class="button">Volver al Sitio</button>
    <span></span>
</div>
</div>
</body>
</html>