* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
}

body {
    background-color: rgb(248, 237, 220);
    font-family: sans-serif;
}

.container-form {
    background-color: whitesmoke;
    margin-top: 30%;
    margin-bottom: 30%;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba (0,0,0,0.2);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10%;
    align-items: left;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.h2-prof-edit {
    padding-bottom: 20px;
    background-color: rgb(185, 60, 60);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10%;
    font-size: 21px;
}

label {
    font-weight: bolder;
    background-color: rgb(216, 100, 100);
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}

.input-form {
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 18px;
    border-radius: 5px;
}

.button-for {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(214, 100, 100);
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    border: lightgrey;
    width: 50vw;
    margin: auto;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.button-for:hover {
    background-color: red;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: all 0.5s;
}

.button-envio:hover {
    background-color: red;
}

/* MEDIA QUERIES */

@media(min-width: 376px) {
    .user-profile {
        margin-top: 12%;
        margin-bottom: 10%;
        padding: 5%;
    }

}

@media(min-width: 768px) {
    .container-form {
        margin-top: 18%;
        margin-bottom: 11%;
    }  
    .button-for {
        width: 25vw;
    }
}

@media(min-width: 1024px) {
    .user-profile {
        margin-top: 12%;
        margin-bottom: 10%;
        padding: 5%;
    }
    h2 {
        font-size: 26px;
        padding: 5%;
    }
    .label {
        padding: 20px;
    }
    .button-for {
        width: 20vw;
    }
}

@media(min-width: 1440px) {
    .container-form {
        align-items: center;
    }
    h2 {
        width: 80%;
    }
    label {
        width: 80%;
    }
    .input-form {
        width: 80%;
    }
    .user-profile {
        margin-top: 12%;
        margin-bottom: 10%;
        padding: 5%;
    }
}